@model IEnumerable<SacramentPlanner.Models.Meeting>
@{
    ViewData["Title"] = "Meetings";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducting)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    <a asp-action="AddSpeaker" asp-route-MeetingID="@item.ID">Add Speaker</a> |
                    <a asp-action="ShowSpeakers" asp-route-id="@item.ID">Show Speakers</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table>
    <tbody>
        @{
            if (SpeakerList.meetingSpeakers != null)
            {
                foreach (var speaker in SpeakerList.meetingSpeakers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => speaker.Name)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
